[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
